/*
 * Variables
 */

$line-height: 1.5em;

// Colors
$almost-white: rgb(245,245,245);

// Overrides

  // Slick Carousel
  $slick-font-path: '../fonts/';
  $slick-loader-path: '../images/';
  $slick-opacity-on-hover: 1;
  $slick-opacity-not-active: 1;
  $slick-opacity-default: 1;
  $slick-dot-color: #d0d0d0;
  $slick-arrow-color: #ccc;
  $slick-arrow-size: 40px;

  // Bootstrap
